body {
  background-color: #F7F7F7;
}


h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 0.8;
  color: #443F55;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 0.9;
  color: #1F2D6F;
  text-align: left;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  line-height: 1.5;
  color: #443F55;
}
a {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 0.6;
  color: #1F2D6F;
  text-decoration: none;
}
a:hover{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 0.8;
  color: #5F305A;
}
li {
  color: #363636;
  font-size: 25px;
  color: #443F55;
}

img {
  width: 320px;
  height: auto;
  border-radius: 10%;
}

 .hero {
    justify-content: space-around;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1519931760384-a96fedd8dfa9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80);
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8px;
 }

div {
  width: 92%;
  margin: 8px;
  text-align: center;
  padding: 8px;
  box-shadow: 4px;
  background: #F2F3ED;
  align-items: center;
}

li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 54px;
  line-height: 0.5;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
