

body {

}


h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.6;
  color: white;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  line-height: 0.9;
  color: white;
  text-align: left;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 26px;
  line-height: 1.5;
  color: black;
  padding:8px;
}
a {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: px;
  line-height: 0.6;
  color: black;
  text-decoration: none;
}
a:hover{
  font-family: 'IBM Plex Sans', sans-serif;
  color: #5F305A;
}
li {
  color: #363636;
  font-size: 25px;
  color: #443F55;
}

.container {
  width: 100%;

  align-items: center;
}

li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 54px;
  line-height: 0.5;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6;
  color: white;
}

.hero p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 0.9;
  color: white;
  text-align: left;
}
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6;
  color: white;
}

.hero p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 0.9;
  color: white;
  text-align: left;
}
}

.hero {
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    background-image: linear-gradient(rgba(39,63,76,0.63), rgba(0,135,210,0.13)), url(https://images.unsplash.com/photo-1537914675540-ec9f82fbd752?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1616&q=80);
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
}

.topline {
  display: flex;
  align-items: center;
}

.grid {
  width: 100%;
  margin: 8px;
  text-align: left;
  padding: 8px;
  justify-items: left;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto auto auto auto ;


}

.intro {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;

}

/*.info {
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
  text-align: justify;

}*/

.contact p {
  text-align: right!important;
  color: white !important;
}

.card {
  grid-column: 3/ span 1;
  grid-row: 4/ span 1;
  text-align: center;

}

.avatar {
  width: 40px;
  border-radius: 50%;
  padding: 8px;
}

.skills {
  grid-column: 3/ span 1;
  grid-row: 3/ span 1;
}

.seekrs {
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;

}

.demo {
  grid-column: 3/ span 1;
  grid-row: 2/ span 1;

}
.pippa {
  grid-column: 2/ span 1;
  grid-row: 3/ span 1;
}

